{{define "nav"}}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-section-label d-none d-lg-block">Observed</li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "overview"}} active{{end}}" href="/">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "assets"}} active{{end}}" href="/assets">Assets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "alerts"}} active{{end}}" href="/alerts">Alerts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "topology"}} active{{end}}" href="/topology">Topology</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "process"}} active{{end}}" href="/process">Process</a>
    </li>
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-section-label d-none d-lg-block">Reference</li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "design-devices"}} active{{end}}" href="/design/devices">Devices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "design-networks"}} active{{end}}" href="/design/networks">Networks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{if eq .ActivePage "design-envs"}} active{{end}}" href="/design/environments">Environments</a>
    </li>
</ul>
{{end}}
